.button {
  width: 240px;
  font-weight: 600;
}

.log-in-button {
  background-color: rgb(35, 174, 67);
  color: #ffffff;
}

.log-in-button:hover,
.log-in-button:active {
  background-color: rgb(25, 164, 57);
  color: #ffffff;
}

.log-out-button {
  background-color: rgb(244, 67, 54);
  color: #ffffff;
}

.log-out-button:hover,
.log-out-button:active {
  background-color: rgb(234, 46, 47);
  color: #ffffff;
}
