<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">Collections</app-page-title>
    <p></p>
  </div>
</div>
<div class="content-container">
  <div class="content-container-card">
    <div class="collection-section">
      <h2>LEGO</h2>
      <p>
        My Lego Collection, organized into which sets I want and which sets I already have (and
        whether or not I've built them yet).
      </p>
      <p>
        <a class="collection-link" routerLink="/collections/lego" title="LEGO Collection">
          <div class="collection-button">View LEGO Collection</div>
        </a>
      </p>
    </div>
    <div class="collection-section">
      <h2>Board Games</h2>
      <p>
        My Board Game Collection, hosted at
        <a href="https://boardgamegeek.com/collection/user/rardk" target="_blank">BoardGameGeek</a>
        .
      </p>
      <p>
        <a
          class="collection-link"
          routerLink="/collections/board-games"
          title="Board Game Collection">
          <div class="collection-button">View Board Game Collection</div>
        </a>
      </p>
    </div>
    <div class="collection-section">
      <h2>Video Games</h2>
      <p>My Video Game Collection.</p>
      <p>
        <a
          class="collection-link"
          routerLink="/collections/video-games"
          title="Video Game Collection">
          <div class="collection-button">View Video Game Collection</div>
        </a>
      </p>
    </div>
  </div>
</div>
