<div class="guild-reply-definitions-list-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="guild-reply-definitions-container" *ngIf="!isLoading && isAuthorizedToAdministrate">
    <app-page-title>Custom Reply Definitions for {{ guildName }}</app-page-title>
    <div class="navigation-button-section">
      <a [routerLink]="['/bots/replybot']">
        <div class="back-button secondary action button">
          <i class="fa-solid fa-arrow-left"></i>
          Back to Server List
        </div>
      </a>
    </div>
    <div class="guild-reply-definition-add-action-section" *ngIf="replyDefinitions.length > 0">
      <button
        class="add-guild-reply-definition-button primary action button"
        (click)="addNewReplyDefinition()">
        Create New Reply Definition
      </button>
    </div>
    <div class="guild-reply-definition-paste-action-section" *ngIf="replyDefinitions.length > 0">
      <button
        class="add-guild-reply-definition-button secondary action button"
        (click)="addFromClipboard()">
        Create From Clipboard
        <i class="fa-solid fa-paste"></i>
      </button>
    </div>
    <div class="filter-options-container" *ngIf="replyDefinitions && replyDefinitions.length > 0">
      <div>
        <div class="filter-description">Filter By:</div>
        <mat-button-toggle-group
          class="filter-options-toggle-group"
          name="filterOptions"
          aria-label="filter options"
          [(ngModel)]="filterOptions"
          multiple>
          <mat-button-toggle
            *ngFor="let filterType of getFilters()"
            (click)="applyFilters()"
            [value]="filterType"
            [disableRipple]="true">
            {{ filterType.displayName }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="active-filter-display-text" *ngIf="hasFilters()">
        <span>Showing only: {{ getActiveFilterDisplayNames().join(" & ") }}</span>
        <button class="clear-filters-button tertiary action button" (click)="clearFilters()">
          Clear Filters
        </button>
      </div>
    </div>
    <div *ngIf="filteredReplyDefinitions.length === 0">
      <span *ngIf="!hasFilters()">No reply definitions are set up for this server yet.</span>
      <span *ngIf="hasFilters()">No reply definitions match the selected filter criteria.</span>
    </div>
    <div
      class="guild-reply-definition-card-container"
      *ngFor="let replyDefinition of filteredReplyDefinitions; let indexOfReplies = index">
      <mat-expansion-panel
        class="guild-reply-definition-card"
        [ngClass]="{
          'guild-reply-definition-card': true,
          'inactive-reply-defintion': !replyDefinition.isActive
        }"
        (opened)="setOpen(indexOfReplies, true)"
        (closed)="setOpen(indexOfReplies, false)">
        <mat-expansion-panel-header>
          <mat-panel-title *ngIf="!getOpen(indexOfReplies)">
            {{ replyDefinition.triggers.slice(0, 3).join(", ") }}
            <ng-container *ngIf="replyDefinition.triggers.length > 3">(...)</ng-container>
          </mat-panel-title>
          <mat-panel-description *ngIf="!getOpen(indexOfReplies)">
            <ng-container *ngFor="let filterType of getAttributes()">
              <div
                class="filter-chip"
                [ngClass]="{ disabled: !filterType.filter(replyDefinition) }"
                [matTooltip]="filterType.valueDisplayText(replyDefinition)">
                {{ filterType.displayName }}
              </div>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="priority-buttons" *ngIf="!hasFilters()">
          <button
            class="priority-button primary action button"
            matTooltip="Move up in priority"
            color="primary"
            [disabled]="indexOfReplies == 0"
            (click)="movePriority('up', replyDefinition)">
            <i class="fa-solid fa-arrow-up"></i>
          </button>
          <button
            class="priority-button primary action button"
            matTooltip="Move down in priority"
            color="primary"
            [disabled]="indexOfReplies == filteredReplyDefinitions.length - 1"
            (click)="movePriority('down', replyDefinition)">
            <i class="fa-solid fa-arrow-down"></i>
          </button>
        </div>

        <div class="meta-details-section">
          <div class="status-section">
            Status:
            <span class="status-text">{{ replyDefinition.isActive ? "ON" : "OFF" }}</span>
          </div>
        </div>

        <div class="triggers">
          <h2 class="triggers-title">Triggers</h2>
          <div class="trigger">
            <ul>
              <li *ngFor="let trigger of replyDefinition.triggers">
                {{ trigger }}
              </li>
            </ul>
          </div>
          <div class="requires-bot-name">
            <span class="requires-bot-name-title">Trigger Requires Bot Name</span>
            <app-check-or-x [isCheck]="replyDefinition.requiresBotName"></app-check-or-x>
          </div>
        </div>

        <div
          class="channel-ids"
          *ngIf="replyDefinition.channelIds && replyDefinition.channelIds.length > 0">
          <h2 class="channel-ids-title">Specific Channels</h2>
          <div class="channel-id">
            <ul>
              <li *ngFor="let channelId of replyDefinition.channelIds">
                {{ channelId }}
              </li>
            </ul>
          </div>
        </div>

        <div class="user-ids" *ngIf="replyDefinition.userIds && replyDefinition.userIds.length > 0">
          <h2 class="user-ids-title">Specific Users</h2>
          <div class="user-id">
            <ul>
              <li *ngFor="let userId of replyDefinition.userIds">
                {{ userId }}
              </li>
            </ul>
          </div>
        </div>

        <div class="replies" *ngIf="replyDefinition.replies && replyDefinition.replies.length > 0">
          <h2 class="replies-title">Replies</h2>
          <div class="response">
            <ul>
              <li *ngFor="let reply of replyDefinition.replies">
                {{ reply }}
              </li>
            </ul>
          </div>
          <div class="mention-author">
            <span class="mention-author-title">Mention Author When Replying</span>
            <app-check-or-x [isCheck]="replyDefinition.mentionAuthor"></app-check-or-x>
          </div>
        </div>

        <div
          class="reactions"
          *ngIf="replyDefinition.reactions && replyDefinition.reactions.length > 0">
          <h2 class="reactions-title">Reactions</h2>
          <div class="reaction">
            <ul>
              <li *ngFor="let reaction of replyDefinition.reactions">
                {{ reaction }}
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="dates-section">
          <div class="created-info">
            Created On
            <span
              class="edit-date"
              *ngIf="replyDefinition.createdDate"
              [matTooltip]="replyDefinition.createdDate">
              {{ replyDefinition.createdDate | date }}
            </span>
            <span class="edit-date" *ngIf="!replyDefinition.createdDate">Unknown Date</span>
            by
            <span
              class="edit-user"
              *ngIf="replyDefinition.createdById"
              [matTooltip]="replyDefinition.createdById">
              {{ replyDefinition.createdByUsername }}
            </span>
            <span class="edit-user" *ngIf="!replyDefinition.createdById">Unknown User</span>
          </div>
          <div class="updated-info">
            Last Updated On
            <span
              class="edit-date"
              *ngIf="replyDefinition.updatedDate"
              [matTooltip]="replyDefinition.updatedDate">
              {{ replyDefinition.updatedDate | date }}
            </span>
            <span class="edit-date" *ngIf="!replyDefinition.updatedDate">Unknown Date</span>
            by
            <span
              class="edit-user"
              *ngIf="replyDefinition.updatedById"
              [matTooltip]="replyDefinition.updatedById">
              {{ replyDefinition.updatedByUsername }}
            </span>
            <span class="edit-user" *ngIf="!replyDefinition.updatedById">Unknown</span>
          </div>
        </div>

        <div class="guild-reply-definition-action-section">
          <ng-container *ngIf="replyDefinitionToDelete?.id === replyDefinition.id">
            <div class="delete-warning">Are you sure you want to delete? You cannot undo this!</div>
            <div class="delete-warning-actions">
              <button class="delete-warning-button danger action button" (click)="doDelete()">
                Delete Forever!
              </button>
              <button
                class="delete-warning-button secondary action button"
                (click)="cancelDelete()">
                No! Cancel!
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="replyDefinitionToDelete?.id !== replyDefinition.id">
            <div class="guild-reply-definition-actions">
              <button
                class="guild-reply-definition-action-button secondary action button"
                (click)="addFromCopy(replyDefinition)">
                Create Duplicate
              </button>
              <button
                class="guild-reply-definition-action-button secondary action button"
                (click)="copyJsonToClipboard(replyDefinition)">
                Copy to Clipboard
                <i class="fa-solid fa-copy"></i>
              </button>
            </div>
            <div class="guild-reply-definition-actions">
              <button
                class="guild-reply-definition-action-button tertiary action button"
                (click)="startEdit(replyDefinition)">
                Edit
              </button>
              <button
                class="guild-reply-definition-action-button danger action button"
                (click)="showDeleteConfirm(replyDefinition)">
                Delete
              </button>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="guild-reply-definition-add-action-section">
      <button
        class="add-guild-reply-definition-button primary action button"
        color="primary"
        (click)="addNewReplyDefinition()">
        Create New Reply Definition
      </button>
    </div>
    <div class="guild-reply-definition-paste-action-section">
      <button
        class="add-guild-reply-definition-button secondary action button"
        (click)="addFromClipboard()">
        Create From Clipboard
        <i class="fa-solid fa-paste"></i>
      </button>
    </div>
  </div>
  <div class="guild-reply-definitions-container" *ngIf="!isLoading && !isAuthorizedToAdministrate">
    You do not have permission to administrate the bot in this server.
  </div>
</div>
