<section class="navbar">
  <div class="navbar-card">
    <div class="navbar-container">
      <app-navbar-button urlPath="/">🏠 home</app-navbar-button>
      <app-navbar-button urlPath="/blog">📰 blog</app-navbar-button>
      <app-navbar-button urlPath="/now">📆 now</app-navbar-button>
      <app-navbar-button urlPath="/collections">🧩 collections</app-navbar-button>
      <app-navbar-button urlPath="/links">🔗 links</app-navbar-button>
      <app-navbar-button urlPath="/bots">🤖 bots</app-navbar-button>
    </div>
  </div>
</section>
