<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">Time Zone Selector for TimeZoneBot</app-page-title>
    <p>
      Find your time zone below and click "Set" to set it as your time zone. Alternatively, click
      the copy
      <i class="fa-solid fa-copy"></i>
      button to copy the time zone ID and use it with TimeZoneBot's
      <code>/set-time-zone</code>
      command.
    </p>
  </div>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="content-container" *ngIf="!isLoading">
  <div class="content-container-card time-zones-container">
    <ng-container *ngIf="!isLoading">
      <div class="filter-options">
        <div class="filter-explanation">Select a filter below to narrow down the list.</div>
        <mat-form-field class="filter-field">
          <mat-label>Select a Filter</mat-label>
          <mat-select [(ngModel)]="selectedFilter" (selectionChange)="filterTimeZones()">
            <mat-option *ngFor="let filter of timeZoneFilterOptions" [value]="filter">
              {{ filter }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter-field">
          <mat-label>Search Text</mat-label>
          <input
            [(ngModel)]="filterText"
            (input)="filterTimeZones()"
            matInput
            placeholder="Ex. Toronto" />
        </mat-form-field>
        <div class="clear-filter-button" *ngIf="selectedFilter || filterText">
          <button class="tertiary action button" (click)="clearFilter()">Clear Filter</button>
        </div>
      </div>
      <h3 class="current-time-zone">
        Your Current Time Zone:
        <span *ngIf="isTimeZoneLoading">Loading...</span>
        <span class="current-time-zone-highlight" *ngIf="!isTimeZoneLoading">
          {{ formatCurrentTimeZone() }}
        </span>
        <br />
        <span class="current-time-zone-highlight" *ngIf="!isTimeZoneLoading && currentTime">
          {{ currentTime }}
        </span>
      </h3>

      <table class="set-table">
        <th>Time Zone ID (IANA)</th>
        <th></th>
        <th></th>

        <tr *ngFor="let timeZone of dataSource">
          <td>{{ timeZone.id }} (UTC {{ formatUtcOffset(timeZone.utcOffsetHours) }})</td>
          <td>
            <button class="icon action button" (click)="copyTimeZone(timeZone.id)">
              <i class="fa-solid fa-copy"></i>
            </button>
          </td>
          <td>
            <button class="primary action button set-button" (click)="setTimeZone(timeZone.id)">
              Set
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
</div>
