<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">Board Games Collection</app-page-title>
    <p>
      This data is pulled from my
      <a href="https://boardgamegeek.com/wishlist/rardk" target="_blank">Wishlist</a>
      and my
      <a
        href="https://boardgamegeek.com/collection/user/rardk?own=1&subtype=boardgame&ff=1"
        target="_blank">
        Owned Games
      </a>
      on BoardGameGeek.
    </p>
  </div>
</div>
<mat-spinner *ngIf="isLoadingWishlist || isLoadingOwnedList"></mat-spinner>
<div
  class="disclaimer-container"
  *ngIf="(isLoadingWishlist || isLoadingOwnedList) && showLoadingDisclaimer">
  If it's not loading, try refreshing the page...
</div>
<div class="content-container" *ngIf="!isLoadingWishlist && !isLoadingOwnedList">
  <div class="content-container-card">
    <section class="wanted-section">
      <h2>Board Games I Want</h2>
      <table class="set-table">
        <th></th>
        <th>Name</th>
        <th>Notes</th>
        <tr *ngFor="let boardGame of wishlistGames">
          <td class="img-cell">
            <a [href]="boardGame.url" target="_blank">
              <img [src]="boardGame.thumbnail" alt="{{ boardGame.name }}" />
            </a>
          </td>
          <td>{{ boardGame.name }} ({{ boardGame.yearPublished }})</td>
          <td [innerHTML]="boardGame.comment"></td>
        </tr>
      </table>
    </section>
    <section class="owned-section">
      <h2>Board Games I Own</h2>
      <table class="set-table">
        <th></th>
        <th>Name</th>
        <th>My Rating</th>

        <tr *ngFor="let boardGame of ownedGames">
          <td class="img-cell">
            <a [href]="boardGame.url" target="_blank">
              <img [src]="boardGame.thumbnail" alt="{{ boardGame.name }}" />
            </a>
          </td>
          <td>{{ boardGame.name }} ({{ boardGame.yearPublished }})</td>
          <td>{{ boardGame.rating }}</td>
        </tr>
      </table>
    </section>
  </div>
</div>
