<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title *ngIf="link" [titleSize]="2">🔗 {{ link.title }}</app-page-title>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="!isLoading && link">
  <div class="post">
    <div class="post-summary">
      <p>
        {{ link.description }}
      </p>
      <p>
        <a [href]="link.link" target="_blank">
          {{ link.title }}
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </p>
      <app-date-display [dateToDisplay]="link.dateShared" labelText="Shared on:"></app-date-display>
    </div>
  </div>
</ng-container>
<app-social-media-discussion
  [getDiscussionsMethod]="discussionMethod"></app-social-media-discussion>
<div class="back-to-links-link">
  <a [routerLink]="['/links']">&#x2190; Back to Links</a>
</div>
