<app-feed-posters
  sectionTitle="Current Books"
  [ratingMax]="10"
  [isLoading]="isCurrentlyReadingLoading"
  [feedItems]="currentlyReadingBooksFeedItems"
  displayType="poster"
  profileUrl="https://www.goodreads.com/user/show/167818625-robert-rar"
  profileName="Goodreads"></app-feed-posters>
<app-feed-posters
  sectionTitle="Recent Books"
  [ratingMax]="10"
  [isLoading]="isFinishedBooksLoading"
  [feedItems]="finishedBooksFeedItems"
  displayType="poster"
  profileUrl="https://www.goodreads.com/user/show/167818625-robert-rar"
  profileName="Goodreads"></app-feed-posters>
