<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">Now</app-page-title>
    <p></p>
  </div>
</div>
<div class="content-container">
  <div class="content-container-card">
    <app-github-card></app-github-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-backloggd-card></app-backloggd-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-letterboxd-card></app-letterboxd-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-serializd-card></app-serializd-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-goodreads-card></app-goodreads-card>
  </div>
</div>
<br />
<div class="content-container">
  <div class="content-container-card">
    <app-lastfm-card></app-lastfm-card>
  </div>
</div>
