.checkmark {
  padding-left: 6px;
  padding-right: 6px;
  color: rgb(35, 174, 67);
  font-size: 26px;
}
.x {
  padding-left: 6px;
  padding-right: 6px;
  color: rgb(234, 46, 47);
  font-size: 26px;
}
