<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="content-container" *ngIf="!isLoading">
  <div class="blog-post-container">
    <ng-container *ngIf="post">
      <h1 class="card-title">{{ post.attributes.title }}</h1>
      <app-date-display [dateToDisplay]="post.attributes.publishedAt"></app-date-display>
      <p class="blog-post-content" markdown [data]="post.attributes.content"></p>
    </ng-container>
  </div>
</div>
<app-social-media-discussion [getDiscussionsMethod]="discussionMethod"></app-social-media-discussion>
<div class="back-to-blog-link">
  <a [routerLink]="['/blog']">&#x2190; Back to Blog</a>
</div>
