/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i);

$card-horizontal-padding: 38px;
$card-vertical-padding: 15px;

$font-color: #ffffff;
$opposite-font-color: #000000;

$accent-color: #f28834;

$link-blue: #0285ff;

$max-width: 750px;
$min-width: 370px;

html,
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: rgb(27, 25, 27);
  color: $font-color;
  margin: 0;
  height: 100%;
}

h1 {
  margin-block-start: 0px;
}

h2 {
  margin-block-start: 0px;
  margin-block-end: 4px;
}

h3 {
  margin-block-start: 0px;
  margin-block-end: 4px;
}

::selection {
  background-color: $font-color;
  text-shadow: none;
  color: $opposite-font-color;
}

.cdk-overlay-pane ::selection {
  background-color: $opposite-font-color;
  color: $font-color;
}

.page-container {
  padding-bottom: 30px;
}

.page-description {
  margin-block-start: 5px;
  // margin-block-end: 5px;
}

.page-description-container {
  padding-bottom: 10px;
}

.page-description-content {
  text-align: center;
  width: 70%;
  max-width: $max-width - 50px;
  min-width: $min-width;
}

.with-border {
  background-color: rgba(164, 39, 214, 0.506);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 4px 4px #000000;
}

.webrings {
  text-align: center;
  font-size: 16px;
}

a {
  color: $link-blue;
  // text-decoration: none;
}
a:visited {
  color: $link-blue;
}

.page-description-content a {
  color: white;
}

.page-description-content a:visited {
  color: white;
}

.page-description-content a:active {
  color: white;
}

.page-description-container,
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
}

.content-container-card {
  text-align: left;
  padding-left: $card-horizontal-padding;
  padding-right: $card-horizontal-padding;
  padding-top: $card-vertical-padding;
  padding-bottom: $card-vertical-padding;

  border: 1px solid #000000;
  background-color: #ffffff;
  color: $opposite-font-color;
  border-radius: 5px;
  box-shadow: 3px 3px #000000;
  width: 50%;
  max-width: $max-width;
  min-width: $min-width;
}

.content-container-card ::selection {
  background-color: $opposite-font-color;
  color: $font-color;
}

.content-container-card a {
  color: $opposite-font-color;
}

.content-container-card a:visited {
  color: $opposite-font-color;
}

/* repeating posts (blog, links) */
.repeating-post {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.repeating-post:nth-child(even) {
  border-top: 2px dotted rgb(51, 51, 51);
  border-bottom: 2px dotted rgb(51, 51, 51);
}

.repeating-post:last-child {
  border-bottom: 2px dotted rgb(51, 51, 51);
}

.repeating-post-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 28px;
  padding-top: 10px;
}

.repeating-post-summary {
  max-width: 700px;
  text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .repeating-post {
    max-width: 360px;
  }
}

// for markdown in the blog post
.blog-post-content {
  img {
    display: block;
    max-width: 100%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
  }

  blockquote {
    border: 1px dashed #6d6d6d;
    padding: 10px;
  }

  h1 {
    margin-block-start: 18px;
    margin-block-end: 4px;
  }

  h2 {
    font-size: 32px;
    margin-block-start: 15px;
    margin-block-end: 4px;
  }

  h3 {
    font-size: 24px;
    margin-block-start: 15px;
    margin-block-end: 4px;
  }

  .publish-date {
    font-size: 12px;
    text-align: center;
  }

  p {
    margin-block-start: 8px;
    margin-block-end: 8px;
  }
}

.button {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #000000;
  font-weight: 500;
  padding: 10px;
  margin: 4px;
  font-size: 17px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
}

.button:hover,
.button.selected {
  background-color: #f28834;
}

.button.action:disabled,
.button.action[disabled="disabled"],
.button.action:disabled:hover,
.button.action[disabled="disabled"]:hover,
.button.action:disabled:active,
.button.action[disabled="disabled"]:active,
.button.action.primary:disabled,
.button.action.primary[disabled="disabled"],
.button.action.primary:disabled:hover,
.button.action.primary[disabled="disabled"]:hover,
.button.action.primary:disabled:active,
.button.action.primary[disabled="disabled"]:active,
.button.action.secondary:disabled,
.button.action.secondary[disabled="disabled"],
.button.action.secondary:disabled:hover,
.button.action.secondary[disabled="disabled"]:hover,
.button.action.secondary:disabled:active,
.button.action.secondary[disabled="disabled"]:active,
.button.action.tertiary:disabled,
.button.action.tertiary[disabled="disabled"],
.button.action.tertiary:disabled:hover,
.button.action.tertiary[disabled="disabled"]:hover,
.button.action.tertiary:disabled:active,
.button.action.tertiary[disabled="disabled"]:active,
.button.action.danger:disabled,
.button.action.danger[disabled="disabled"],
.button.action.danger:disabled:hover,
.button.action.danger[disabled="disabled"]:hover,
.button.action.danger:disabled:active,
.button.action.danger[disabled="disabled"]:active {
  background-color: rgba(56, 56, 56, 0.12);
  color: rgba(65, 65, 65, 0.38);
  cursor: default;
}

.button.action.primary {
  background-color: rgb(137, 37, 196);
  color: #ffffff;
}

.button.action.primary:hover {
  background-color: rgb(162, 42, 232);
  color: #ffffff;
}

.button.action.primary:active {
  background-color: rgb(152, 32, 222);
  color: #ffffff;
}

.button.action.secondary {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.button.action.secondary:hover {
  background-color: rgb(245, 245, 245);
  color: #000000;
}

.button.action.secondary:active {
  background-color: rgb(235, 235, 235);
  color: #000000;
}

.button.action.tertiary {
  background-color: rgb(255, 64, 129);
  color: #ffffff;
}

.button.action.tertiary:hover {
  background-color: rgb(245, 54, 119);
  color: #ffffff;
}

.button.action.tertiary:active {
  background-color: rgb(235, 44, 109);
  color: #ffffff;
}

.button.action.danger {
  background-color: rgb(244, 67, 54);
  color: #ffffff;
}

.button.action.danger:hover {
  background-color: rgb(234, 57, 44);
  color: #ffffff;
}

.button.action.danger:active {
  background-color: rgb(224, 47, 34);
  color: #ffffff;
}

.button.icon {
  background-color: transparent;
  color: #000000;
  border: none;
}

.button.icon:hover {
  background-color: rgb(245, 245, 245);
}

.button.icon:active {
  background-color: rgb(235, 235, 235);
}

.button.icon.red {
  color: rgb(224, 47, 34);
}

/* footer */
.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
}

.copyright {
  margin-bottom: 10px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .below-avatar-text {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .divider {
    display: none;
  }
  .content-container-card {
    padding-left: 10px;
    padding-right: 2px;
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
  }
  blockquote {
    min-width: 310px;
    text-align: center;
    margin: 0 auto;
  }
}

/* center the material spinner */
.mat-mdc-progress-spinner {
  margin: 0 auto;
}

circle {
  stroke: #f28834;
}

.mdc-linear-progress__bar-inner {
  border-color: #f28834 !important;
}

// used for dropdown on lego filters
.mat-mdc-form-field {
  width: 340px;
}
