<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">{{ pageTitle }}</app-page-title>
  </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="!isLoading">
  <div class="repeating-post" *ngFor="let post of blogPosts">
    <div class="repeating-post-summary">
      <a [routerLink]="['/blog', post.attributes.canonicalUrl]" class="">
        <h1 class="repeating-post-title">{{ post.attributes.title }}</h1>
      </a>
      <p>
        {{ post.attributes.description }}
      </p>
      <app-date-display [dateToDisplay]="getPublishedDate(post.attributes)"></app-date-display>
    </div>
  </div>
</ng-container>
